ion-content {
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

ion-card {
  display: flex;
  flex-direction: column;
}

ion-img {
  width: 30%;
}
