ion-content {
  --full-height: 100%;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  min-height: 100%;
}

.home-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.logo-suam {
  width: 15%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 5%;
  border-radius: 2%;
}

img {
  width: 90%;
  border-radius: 2%;
}
